---
layout: default
title: Welcome!
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>
		
	<body>
		
    		<p>Hello! This is my first website, you can look at my python coding <a href="https://github.com/ztorr/ztorr.github.io/blob/main/python.md">here</a> OR look at my <a href="https://omegaearth.art/art">art!</a></p>
		<p>You can buy original art on my <a href="https://www.etsy.com/shop/OmegaEarthArt/">Etsy!</a></p>
		<p>Or even follow me on <a href="https://www.instagram.com/omegaearthart/">Instagram</a> OR <a href="https://twitter.com/OmegaEarthArt/">Twitter</a></p>
		<p>5E bestiary "Dungeon Rejects" for sale at drivethru rpg <a href="https://www.drivethrurpg.com/product/439285/Dungeon-Rejects?affiliate_id=1515148">Here</a>
		<p><img src="./assets/monster.png"</p>


	</body>

  </article>

</main>

{% include site-footer.html %}